<footer class="foot">
    <span class="con-1">
     <h3 class="head-1">Help</h3>
     <br>
     <a href="#" class="anc">FAQ</a>
    </span>

    <span class="con-2">
     <h3 class="head-1">My Account</h3>
     <br>
     <a href="/login" class="anc">Log-In</a>
     <br>
     <a href="/Signup" class="anc">Resister</a>
     <!-- <br>
     <a href="Sign up.html" class="anc">Travell Agent?</a> -->
     
    </span>

    <span class="con-3">
     <h3 class="head-1">Other Pages</h3>
     <br>
   
     <a href="/about-us" class="anc" target="_blank">About Us</a>
     <br>
     <a href="/contact-us" class="anc" target="_blank">Contact Us</a>
     <br>
     <a href="#" class="anc">Book Now</a>
     <br>
     <a href="#" class="anc">Private policy</a>
    </span>

    <span class="con-4">
     <h3 class="head-1">Follow Us On-</h3>
     <br>
  
     <a href="https://www.instagram.com/gantavyaa_india/" class="anc" target="_blank" rel="noopener" title="Instagram" ><img src="images/insta.png" alt="" class="insta"></a>
     
     <a href="#" class="anc" rel="noopener" title="Twitter" ><img src="images/twit.png" alt="" class="insta"></a>
    
     <a href="https://www.facebook.com/profile.php?id=100011848487966" class="anc" target="_blank" rel="noopener" title="Facebook" ><img src="images/Facebook-logo.png" alt="" class="facebook"></a>
     <a href="https://www.linkedin.com/in/satyam-gupta-2b4792229" class="anc" title="linkedin" target="_blank" rel="noopener" title="Linkedin" ><img src="images/linkedin.png" alt="" class="facebook"></a>
    <br>
    <p class="copyright">&#169;GANTAVYAa</p>
 </span>

 <span class="con-5">
     <h3 class="head-1">Mail Us at-</h3>
     <br>
   
     <h3 class="anc">gantavyaa.india@gmal.com</h3>
 </span>
 </footer><br><br>